**/venv
**/__pycache__
**/app/__pycache__
**/*.pyc
**/*.pyo
**/*.pyd
**/*.db 
**/app/ui/__pycache__

**/data/processed/frames
**/data/processed/frames/*
**/data/processed/frames/*.png
**/data/processed/frames/*.jpg
**/data/processed/frames/*.jpeg
**/data/processed/frames/*.mp4
**/data/processed/frames/*.avi
**/data/processed/frames/*.mov
**/data/processed/frames/*.mkv
**/data/processed/frames/*.webm

**/data/reports/*

**/treinamento_yolo/dataset_yolov8/*
**/treinamento_yolo/dataset_yolov8/labels/*
**/treinamento_yolo/dataset_yolov8/images/*
**/treinamento_yolo/dataset_yolov8/images/train/*
**/treinamento_yolo/dataset_yolov8/images/valid/*
**/treinamento_yolo/dataset_yolov8/images/test/*
**/treinamento_yolo/dataset_yolov8/labels/train/*
**/treinamento_yolo/dataset_yolov8/labels/valid/*
**/treinamento_yolo/dataset_yolov8/labels/train/*.txt
**/treinamento_yolo/dataset_yolov8/labels/valid/*.txt
**/treinamento_yolo/dataset_yolov8/images/train/*.jpg
**/treinamento_yolo/dataset_yolov8/images/train/*.png
**/treinamento_yolo/dataset_yolov8/images/train/*.jpeg
**/treinamento_yolo/dataset_yolov8/images/valid/*.jpg
**/treinamento_yolo/dataset_yolov8/images/valid/*.png
**/treinamento_yolo/dataset_yolov8/images/valid/*.jpeg
**/treinamento_yolo/dataset_yolov8/images/train/*.mp4
**/treinamento_yolo/dataset_yolov8/images/train/*.avi
**/treinamento_yolo/dataset_yolov8/images/train/*.mov
**/treinamento_yolo/dataset_yolov8/images/train/*.mkv
**/treinamento_yolo/dataset_yolov8/images/train/*.webm
**/treinamento_yolo/dataset_yolov8/images/valid/*.mp4
**/treinamento_yolo/dataset_yolov8/images/valid/*.avi
**/treinamento_yolo/dataset_yolov8/images/valid/*.mov
**/treinamento_yolo/dataset_yolov8/images/valid/*.mkv
